/* 
    main.css是编写当前专题所需要的样式
    你可以在这里添加任意的css规则来样式你的文档
*/
body {background:#272727;font-size:14px;line-height:25px;font-family:"Microsoft YaHei", sans-serif;}
.body {font-family:"Microsoft YaHei"; background:url(../images/bj.jpg) no-repeat center top;}


/* */
.header { width:1200px; height:713px; overflow:hidden; }

/* */
.xg01 { width:124px;}
.xg02 { width:128px;}
.xg03 { width:180px;}
.xg04 { font-size:18px; font-weight:bold; color:#2fb0fa;}
.p21 { font-size:21px;}
.p22 { font-size:22px;}
.p14 { font-size:14px;}
.p25 { font-size:25px;}
.line01 { line-height:35px;}
.line02 { line-height:22px;}
.line03 { line-height:32px;}
.hui01 { color:#2d2d2d;}
.bold { font-weight:bold;}
.bule01 { color:#3061a3;}
.red01 { color:#e3060b;}
.yellow01 { color:#f0f487;}
.xg05 { font-size:15px; line-height:22px;}
.font01 { font-family:Arial, Helvetica, sans-serif; font-size:15px;}
.xg06 { font-size:14px; color:#b4d4fd;}

/* */
.hd01 { background:url(../images/hd01.gif) no-repeat; height:177px; width:1200px; overflow:hidden;}
.hd01 .box { padding:97px 280px 0 307px;}

/* */
.hd02 { background:url(../images/hd02.jpg) no-repeat; height:353px;width:1200px; overflow:hidden;}
.hd02 .box { text-align:center; font-size:14px; line-height:23px; width:1200px; padding-top:290px;}

/* */
.hd03 { background:url(../images/hd03.jpg) no-repeat; height:362px;width:1200px; overflow:hidden;}
.hd03 .box { padding:212px 0 0 35px; font-size:16px;}
.hd03 .box ul li { width:164px; float:left; text-align:center;}
.li01 { margin-right:78px;}
.li02 { margin-right:80px;}

/* */
.bm { background:url(../images/bm.gif) no-repeat; height:203px;width:1200px; }
.bm .box { color:#FFF; font-size:16px; line-height:38px; padding:45px 41px 0 384px;}

/*报名按钮*/
.an-01 {width: 234px;height: 68px;display: inline-block;background: url(../images/an01.gif) center no-repeat;font-size: 0px;border: 0;transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;-webkit-transition: all 0.3s ease-in 0s;cursor: pointer;}
.an-01:hover {background: url(../images/an02.gif) center no-repeat;border: 0;transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;-webkit-transition: all 0.3s ease-in 0s;}


/* */
.fangan { background:url(../images/fangan.gif) no-repeat; height:548px;width:1200px; overflow:hidden;}
.fangan .box01 { color:#FFF; font-size:16px; float:left; width:528px; padding:115px 0 0 10px;}
.fangan .box02 { font-size:20px; line-height:30px; color: #FFF; float:right; width:485px;padding:166px 0 0 0; font-weight:bold;}
.content02 { padding-top:108px;}

/* */
.car { background:url(../images/tu.jpg) no-repeat; height:687px;width:1200px; overflow:hidden;}
/*车型展示 开始*/
.car .wrap {
	position: relative;
}
.low1 {
	position: absolute;
	top: 126px;
	right: 2px;
	line-height: 45px;
}
.low1 li {
	float: left;
	display: block;
	width: 234px;
	height: 44px;
	font-size:20px;
	color: #fff;
	background: #666666;
	text-align: center;
	cursor: pointer;
}
.li-you01 { 	margin-right:7px;}
.li-you02 { margin-left:8px;}
.low1 li.one {
	background: #b40000;
}
.low2 {
	position: absolute;
	top: 218px;
	left: 0;
}
.low2 li {
	position: absolute;
	top: -48px;
	left: 0;
	opacity: 0;
}
.low2 li.one {
	opacity: 1;
	z-index: 1;
}
/*车型展示 结束*/

/* */
.video { background:url(../images/video.jpg) no-repeat; height:750px;width:1200px; overflow:hidden;position:relative;}
/*视频*/
.video .row{ position: absolute;}
.video .row1{ top:168px;width:253px;height:513px;float:left;}
.video .row1 li{width:251px;height:114px;float:left;cursor:pointer; margin-bottom:19px;}
.video .row1 li.list1{background:url(../images/p3-1.gif) center top no-repeat;}
.video .row1 li.list2{background:url(../images/p3-2.gif) center top no-repeat;}
.video .row1 li.list3{background:url(../images/p3-3.gif) center top no-repeat;}
.video .row1 li.list4{background:url(../images/p3-4.gif) center top no-repeat;}
.video .row1 li.list1.on{background:url(../images/p3-11.png) center top no-repeat;}
.video .row1 li.list2.on{background:url(../images/p3-22.png) center top no-repeat;}
.video .row1 li.list3.on{background:url(../images/p3-33.png) center top no-repeat;}
.video .row1 li.list4.on{background:url(../images/p3-44.png) center top no-repeat;}

.video .row2{ width:930px; height:512px; position:absolute;left:300px;top:168px;}
.video .row2 li{ width:905px; height:512px; position:absolute;top:0;left:0; display:none;}
.video .row2 li.on{ display:block;}


/* */
.jxs-bt { background:url(../images/jxs-bt.gif) no-repeat; height:165px;width:1200px; overflow:hidden;}
.jxs-bt .box { padding:123px 0 0 455px;}

/* */
.jxs { background:#272727; width:1200px; overflow:hidden;}
.jxs .box { color:#FFF; line-height:36px; padding:10px 0 35px 0;}
.jxs .box table tr td a { color:#FFF;}
.jxs .box table tr td a:hover { color:#2fb0fa;}

/*jxs经销商鼠标经过变色 table版*/
.jxs tr:hover{ background:#373737;}
.jxs td{ border-bottom:1px dashed #414141;}