/* 
    main.css是编写当前专题所需要的样式
    你可以在这里添加任意的css规则来样式你的文档
*/
*{padding:0;margin:0;font-family:"Microsoft YaHei";}

.body {
	font-family:"Microsoft YaHei";
	background:#05579e url(../images/bg.jpg) center top no-repeat;
}


.header h1{height:325px;overflow:hidden; position:relative;}
.header h1 a.row1{display:block;width:170px;height:85px;background:#fff;position:absolute;left:0;top:0px;opacity:0;filter:alpha(opacity=0)}
.header h1 a.row2{display:block;width:189px;height:54px;background:url(../images/btn.png) left top no-repeat;right:103px;bottom:0;}
.header h1 a.row2:hover{ background-position:right top;}
.header h2{height:312px;overflow:hidden;}
.header h3{height:;overflow:hidden;}

.row{position:absolute;}

/*报名框*/
.formbox{width:100%;height:293px;overflow:hidden;background:url(../images/formbox.gif) no-repeat;position:relative;}
.formbox .row1{width:1170px;top:135px;left:30px;}
.formbox td{padding:0 54px 7px 0;}
.formbox label{display:inline-block;*display:inline;zoom:1;width:px;font-size:16px;line-height:35px;color:#fff; vertical-align:top}
.formbox p{color:#96acc9;font-size:14px;left:110px;bottom:45px;}


/**/
.p1{width:100%;height:825px;overflow:hidden;background:url(../images/p1.jpg) no-repeat;position:relative;}
.p1 h3{width:100%;font-size:18px;line-height:28px;color:#484848;padding-top:190px; text-align:center;}
.p1 p{font-size:14px;line-height:20px;color:#484848;text-align: center;}
.p1 p.row1{width:133px;left:35px;top:320px;}
.p1 p.row2{width:93px;left:230px;top:320px;}
.p1 p.row3{width:115px;left:360px;top:320px;}
.p1 p.row4{width:142px;left:500px;top:320px;}
.p1 p.row5{width:100px;left:695px;top:320px;}
.p1 p.row6{width:72px;left:850px;top:320px;}
.p1 p.row7{width:100px;left:1995px;top:320px;}
.p1 p.row8{width:102px;left:230px;top:500px;}
.p1 p.row9{width:100px;left:380px;top:500px;}
.p1 p.row10{width:181px;left:520px;top:500px;}
.p1 p.row11{width:100px;left:735px;top:500px;}
.p1 p.row12{width:100px;left:850px;top:500px;}
.p1 p.row13{width:100px;left:990px;top:500px;}
.p1 p.row14{width:93px;left:188px;top:705px;}
.p1 p.row15{width:100px;left:465px;top:705px;}
.p1 p.row16{width:102px;left:705px;top:705px;}
.p1 p.row17{width:100px;left:950px;top:705px;font-weight:bold;}


/**/
.p2{width:100%;height:408px;overflow:hidden;background:url(../images/p2.jpg) no-repeat;position:relative;}
.p2 h3{width:100%;font-size:18px;line-height:28px;color:#484848;padding-top:90px; text-align:center;}
.p2 p{width:320px;font-size:18px;line-height:26px;color:#484848; text-align:center}
.p2 p span{color:#1565ad;font-weight:bold;}
.p2 p.row1{left:95px;top:280px;}
.p2 p.row2{left:417px;top:280px;}
.p2 p.row3{left:733px;top:280px;}




/**/
.p3{width:100%;height:632px;overflow:hidden;background:url(../images/p3.gif) no-repeat;position:relative;}
.p3 .row1{width:1200px;height:487px;position:absolute;top:123px;left:0;}


/**/
.p4{width:100%;height:606px;overflow:hidden;background:url(../images/p4.jpg) no-repeat;position:relative;}
.p4 .row1{width:1162px;height:456px;position:absolute;top:121px;left:19px;}
.p4 .roll{width:1162px;height:358px;position: relative; background:#fff;}
.p4 .mCSB_scrollTools {right:0px; bottom:0; width:12px; height:358px;}
.p4 .mCSB_dragger {width:12px;}
.p4 .mCSB_dragger_bar { width:12px; height:60px;right:0px;top: 2px; cursor:pointer;border-radius:5px;background:#7cadd0;}
.p4 .mCSB_draggerRail { width:20px; height:358px;}
.p4 .mCustomScrollBox {}
.p4 td{font-size:14px;line-height:40px;border:1px solid #ddd; text-align:center;font-family:"Microsoft YaHei";}
.p4 .title_table{width:100%;}
.p4 .title_table td{ background:#dff2fc;}



/**/
.p5{width:100%;overflow:hidden;padding:0 0 30px;background:url(../images/p5.gif) no-repeat;position:relative;}
.p5 .row1{width:285px;top:125px;left:457px; }
.p5 .row1 span{font-size:16px;line-height:35px;color:#fff;vertical-align:top;}
.p5 .row2{width:1164px;margin:0 auto;padding-top:185px;}
.p5 .row2 td{font-size:16px;line-height:40px;color:#61e4f7;font-weight:bold;border-bottom:1px dashed #3f72ab;padding:5px 15px;}
.p5 .row3{width:1164px;margin:0 auto;}
.p5 .row3 td{font-size:14px;color:#fff;border-bottom:1px dashed #3f72ab;padding:5px 15px;}
.p5 .row3 td a{font-size:14px;line-height:40px;color:#fff;}
.p5 .row3 td a:hover{color:#61e4f7;}
.p5 .row3 tr:hover{ background:#3f72ab}

