<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="vueInstance">
    输入您的姓名: <input type="text" v-model="name" @keyup.enter="say">
    <button v-on:click="say">点击1</button>
    <!--语法糖-->
    <button @click="say">点击2</button>
    <p>{{$data | json}}</p>
    <p>{{name}}</p>
</div>
<div id="vueLogin">
    <section>
        请输入您的姓名：<span>{{name}}</span>
        <button @click="say">登陆</button>
        <button @click="switchLoginStatus">注销</button>
    </section>
    <section v-if="!loginStatus">
        登陆用户：<input type="text" v-model="name">
        登陆密码：<input type="password">
        <button @click="switchLoginStatus">登陆</button>
    </section>
</div>
<div id="vueList">
    <ul>
        <li v-for="el in products">
            {{ $index }} - {{ el.name }} - ￥ {{ el. price }} - {{ el. category }}
        </li>
    </ul>
</div>
<div id="vueCompute">
    请输入数字：<input type="number" v-model="input">
    <p>计算结果：{{square}}</p>
</div>
<div id="vueRandomNumber">
    输入1~10内的数字：<input type="number" v-model="input">
    <p>结果：{{msg}}</p>
    <p>{{$data.number}}</p>
</div>
</body>
<script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#vueInstance',
        data: {
            name: 'kk'
        },
        methods: {
            say: function () {
                alert('hello ' + this.name);
            }
        }

    })
    var vmLogin = new Vue({
        el: '#vueLogin',
        data: {
            name: '',
            loginStatus: false
        },
        methods: {
            say: function () {
                alert('hello ' + this.name);
            },
            switchLoginStatus: function () {
                this.loginStatus = !this.loginStatus;
            }
        }
    })
    var vmList = new Vue({
        el: '#vueList',
        data: {
            products: [{name: 'microphone', price: 25, category: 'electronics'},
                {name: 'laptop case', price: 15, category: 'accessories'},
                {name: 'screen cleaner', price: 17, category: 'accessories'},
                {name: 'laptop charger', price: 70, category: 'electronics'},
                {name: 'mouse', price: 40, category: 'electronics'},
                {name: 'earphones', price: 20, category: 'electronics'},
                {name: 'monitor', price: 120, category: 'electronics'}]
        }
    })
    var vmCompute = new Vue({
        el: '#vueCompute',
        data: {
            input: 1
        },
        computed: {
            square: function () {
                return this.input * this.input;
            }
        }
    })
    var vmRandomNumber = new Vue({
        el: '#vueRandomNumber',
        data: {
            input: null,
            number: 5
        },
        methods: {
            getRandomNum: function (min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }
        },
        computed: {
            msg: function () {
                if (this.number == this.input) {
                    this.number = this.getRandomNum(1, 10);
                    return 'bingo';
                } else {
                    this.number = this.getRandomNum(1, 10);
                    return 'play again!';
                }
            }
        }
    })
</script>
</html>